

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 2%;
  margin-left: 2%;
}
.blueButton {
  background: #FECF47;
  color: black;
  margin-right: 5px;
}
.importer {
  color: #FECF47;
}
.formField {
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}

.containerr {
  border: 1px solid #dee2e6;
}
.error {
  font-size: small;
  color: red;
}
#description {
  padding-right: 2.5%;
  padding-left: 2.5%;
  width: 100%;
}
.borderBottom {
  border-bottom: 1px solid #dee2e6;
}
.fullheight {
  height: 100%;
}
#New {
    color: gray;
  }
  