<mat-card class="example-card" style="height: 91vh;">

  <form [formGroup]="rest">
    <div class="bottomBorder">
      <div style="margin-left:30%">

        <mat-form-field>
          <input matInput formControlName="refTrans" placeholder="Référence du transfert">
        </mat-form-field>
        <button mat-button class="blueButton" (click)="search()">Rechercher</button>


      </div>
    </div>

    <div *ngIf="edited" style="border:solid 1px;height:500px;width:700px;margin:auto">
      <mat-card-title style="padding-top: 80px;">Detail du transfert n° {{Transfert.codeTransfert}}</mat-card-title>

      <div class="container content">
        <mat-grid-list cols="2" rowHeight="12:1">
          <mat-grid-tile>

          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile>
            <mat-label><strong> Agent :</strong> {{idAgent}} </mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label><strong>Montant à servir :</strong> {{Transfert.montant}} DH</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label><strong>Client :</strong> {{Client}} </mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label><strong>Date d’émission :</strong> {{Transfert.dateTransfert | date:'medium'}} </mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label><strong>Bénéficiaire :</strong> {{Transfert.nomBenef}} {{Transfert.prenomBenef}} </mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label><strong>Motif : </strong> </mat-label>
            <select style=" margin-left:20px;width:125px" class="form-control" formControlName="motiff"
              placeholder="Motif de restitution">
              <option value="Demande">Demande</option>
              <option value="Soupeçon">Soupeçon</option>
              <option value="Blacklisted">Blacklisted</option>
            </select>
          </mat-grid-tile>



        </mat-grid-list>

    <div fxFlex fxLayoutAlign="start center">
      <div>
        <div class="form-group" style="margin-top:30px;">
          <div style="display: flex; justify-content:space-around;">



            <button style="border:solid 1px;" mat-button class="blueButton" (click)="restituer()">
              Restituer
            </button>
          </div>
        </div>
      </div>
    </div>
 

  </div>
  </div>
</form>
</mat-card>